/* chess board and piece */
#chess_board
{
	position: relative;
	display: inline-block;
	line-height: 0px;
}
.chess_cell
{
	border: 1px solid black;
	display: inline-block;
	text-align:center;
}
.chess_line
{
	position: absolute;
	border-top: 1px solid black;
}
.chess_line_45 { transform:rotate(45deg); }
.chess_line_315 { transform:rotate(315deg); }
.chess_loci
{
	position: absolute;
	float:left;
}
.chess_piece
{
	border: 1px solid black;
	border-radius: 40%;
	width:90%;
	height:90%;
	line-height:80%;
	text-align:center;
	background: white;
}
.chess_player_0
{
	border: 1px solid black;
	color: black;
}
.chess_player_1
{
	border: 1px solid red;
	color: red;
}
.chess_piece_selected
{
	background:yellow;
}
.chess_locus_movable
{
	border: 1px solid blue;
}
.chess_locus_attack
{	
	border: 1px solid red;
}

